<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<a href="courseAdd">Add New</a>
<div th:if="${param.msg != 'ok'}"><p th:text="#{msg.success}"></p></div>
<div>
    <table border="1" width="100%" class="table table-hover">
        <thead>
        <tr>
            <td>Index</td>
            <td>Term</td>
            <td>Name</td>
            <td>Grade</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reg, iter:${regList}">
            <td th:text="${iter.index}"></td>
            <td th:text="${reg.term}"></td>
            <td th:text="${reg.course.name}"></td>
            <td th:text="${reg.grade}"></td>
            <td><a th:href="@{/courseEdit/{sid}-{cid}-{term}(sid=${reg.sid}, cid=${reg.cid}, term=${reg.term})}">Edit</a></td>
            <td><a th:href="@{/studentDelete/{id}(id=${std.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>