<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div style="float: left"><a href="courseAdd">Add New Course</a></div>
    <div style="float: right"><a href="studentList">Student Lists</a></div>
</div>
<div align="center" th:if="${param.msg != null && param.msg[0] == 'ok'}"><br><p th:text="#{msg.success}"></p><br></div>
<div align="center" th:if="${param.msg != null && param.msg[0] == 'nok'}"><br><p th:text="#{msg.notsuccess}"></p><br></div>
<div>
    <table border="1" width="100%" class="table table-hover">
        <thead>
        <tr>
            <td>Index</td>
            <td>ID</td>
            <td>Name</td>
            <td>Unit</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="crs, iter:${courseList}">
            <td th:text="${iter.index+1}"></td>
            <td th:text="${crs.id}"></td>
            <td th:text="${crs.name}"></td>
            <td th:text="${crs.unit}"></td>
            <td><a th:href="@{/admin/courseEdit/{cid}(cid=${crs.id})}">Edit</a></td>
            <td><a th:href="@{/admin/courseDelete/{cid}(cid=${crs.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>